.itemTimeline {
  position: relative;
  margin: 0;
  padding-bottom: 50px !important;
  font-size: 14px;
  list-style: none;
}

.ant-timeline-item .ant-timeline-item-left {
  position: relative;
  margin: 0;
  padding-bottom: 50px !important;
  font-size: 14px;
  list-style: none;
}
